.top-navbar {
    height: 40px;
}
.second-navbar{
    height: 80px; 
    background-color: white;
}
.second-navbar-img{
    width:40px;
}
.hover-nav {
    margin: 0;
    padding: 0;
}
.hover-item {
    display: block;
    height: 80px;
}
.item {
    margin-top: 1.4rem;
}
.hover-item:hover {
    background-color: #00BDCC;
}
.item:hover {
    background-color: #00BDCC;;
    color: black;
}
.container-main {
    min-height:480px;
}
body{
    background-image: url("/img/bg.png");
	background-size: cover;
	background-repeat: repeat; 
}
